@import "tailwindcss";

body {
  background-image: url('/images/forest.webp');
  background-size: 500px;
  background-position: top;
}

/* Add common header conventions */
h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-base;
}

h1, h2, h3, h4, p {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: normal;
}


.apply-italic {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: italic;
}